# Bytecode de Python
__pycache__/
*.py[cod]

# Entornos virtuales
env/
venv/

# Base de datos SQLite y archivos de log
*.sqlite3
*.log
db.sqlite3

# Archivos generados por Django
/staticfiles/
/media/

# Archivos de sistema
.DS_Store
*.swp

# Configuraciones del editor
.vscode/
.idea/

# Variables de entorno y claves privadas
*.env
firebase_cred.json